<div class="my-form">
    <div id="content" class="result-container">
        <p-breadcrumb id="breadcrumb" [model]="items" [home]="home"></p-breadcrumb>
    </div>
    <div id="content" class="result-container result-color">
        <div class="card">
            <div class="title">
                <span>TPS_Deal管理_List</span>
            </div>
            <mat-tab-group mat-align-tabs="start" class="tab-top">

                <mat-tab label="近三年TPS_Deal清單({{ContractLength}})">
                    <app-recent-contract (ContractListEvt)="ContractListEvtCal($event)"></app-recent-contract>
                </mat-tab>
            </mat-tab-group>
            <p class="p-Browse">建議使用Google chrome瀏覽器，以達到最佳瀏覽效果。</p>
        </div>
    </div>
</div>
