<div style="margin-top: 1rem;">
    <!-- <div class="form-container">
        <table class="table">
            <thead>
                <tr>
                    <th colspan="4">車輛紀錄列表</th>
                </tr>
            </thead>
            <tbody>
                <tr class="tbodyTh">
                    <th>項次</th>
                    <th>紀錄日期</th>
                    <th>訊息內容</th>
                    <th>功能</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2020-05-06</td>
                    <td>車輛保養紀錄訊息車輛保養紀錄訊...</td>
                    <td>
                        <div class="td-center">
                            <a routerLink="/company/order-progress/order-info">
                                <button pButton pRipple icon="pi pi-file-o"
                                    class="p-button-rounded p-button-success p-mr-2" (click)="editProduct(product)">
                                </button>
                            </a>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                                (click)="deleteProduct(product)">
                            </button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>2020-05-06</td>
                    <td>車輛保養紀錄訊息車輛保養紀錄訊...</td>
                    <td>
                        <div class="td-center">
                            <a routerLink="/company/order-progress/order-info">
                                <button pButton pRipple icon="pi pi-file-o"
                                    class="p-button-rounded p-button-success p-mr-2" (click)="editProduct(product)">
                                </button>
                            </a>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                                (click)="deleteProduct(product)">
                            </button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>2020-05-06</td>
                    <td>車輛保養紀錄訊息車輛保養紀錄訊...</td>
                    <td>
                        <div class="td-center">
                            <a routerLink="/company/order-progress/order-info">
                                <button pButton pRipple icon="pi pi-file-o"
                                    class="p-button-rounded p-button-success p-mr-2" (click)="editProduct(product)">
                                </button>
                            </a>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                                (click)="deleteProduct(product)">
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div> -->
    <p-table #dt [columns]="cols" [value]="note" [paginator]="true" [scrollable]="true" [rows]="5"
        [(selection)]="selectedOrders" [resizableColumns]="true" [style]="{width: '100%'}"
        [showCurrentPageReport]="true" currentPageReportTemplate="顯示 {first} 至 {last} 共 {totalRecords} 筆資料"
        [rowsPerPageOptions]="[5,10]" styleClass="p-datatable-lg">
        <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
                <col *ngFor="let col of columns" [style.width]="col.width">
            </colgroup>
        </ng-template>
        <ng-template pTemplate="caption">
            <div class="ui-helper-clearfix ptable-header" style="text-align: left">
                車輛紀錄列表
                <button type="button" pButton icon="pi pi-file" iconPos="left" label="新增" style="float:right"
                    class="p-button-rounded p-button-layout" data-toggle="modal" data-target="#myModal13"></button>
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{col.header}}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns" let-order>
            <tr>
                <td *ngFor="let col of columns">
                    <ng-container *ngIf="col.field == 'no'">
                        <div class="td-center">
                            {{rowData[col.field]}}
                        </div>
                    </ng-container>
                    <ng-container *ngIf="col.field == 'Notecontent'">
                        <div class="not-con">
                            {{rowData[col.field]}}
                        </div>
                    </ng-container>
                    <ng-container *ngIf="col.field == 'Edit'">
                        <div class="td-center">
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-org p-mr-2"
                                (click)="editProduct()" data-toggle="modal" data-target="#myModal13">
                            </button>
                            <button pButton pRipple icon="pi pi-trash" class=" p-button-rounded p-button-warning"
                                (click)="deleteProduct()">
                            </button>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="
                        col.field !== 'no' &&
                        col.field !== 'Notecontent'
                        ">
                        {{rowData[col.field]}}
                    </ng-container>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            沒有資料
        </ng-template>
    </p-table>
</div>
