<div class="my-form">
    <div id="content" class="result-container">
        <p-breadcrumb id="breadcrumb" [model]="items" [home]="home"></p-breadcrumb>
    </div>
    <div id="content" class="result-container result-color">
        <div class="card">
            <div class="title">
                <span>我的會員資料</span>
                <div class="btn-right">
                    <a routerLink="/refuse-processing/member-profile/modify-member-profile">
                        <button type="button" id="left-btn" class="btn btn-org btn-lg"><i
                                class="fa fa-lg fa-fw fa-file-text"></i>編輯會員資料</button>
                    </a>
                    <button type="button" class="btn btn-primary btn-lg" (click)="goBack()"><i
                            class="fa fa-lg fa-fw fa-arrow-right"></i>返回</button>
                </div>
            </div>
            <form class="form-horizontal">
                <div class="notice-container">
                    <table class="confirmTable">
                        <thead class="line">
                            <!-- <h3>基本資料</h3> -->
                            <!-- <button type="reset" mat-stroked-button class="register-btn btn btn-lg">修改</button> -->
                        </thead>
                        <tbody style="text-align: left;">
                            <tr>
                                <th>處理單位</th>
                                <td>大燈環保科技股份有限公司</td>
                            </tr>
                            <tr>
                                <th>負責人</th>
                                <td>吳阿明</td>
                            </tr>
                            <tr>
                                <th>公司統編(會員帳號)</th>
                                <td>22334455</td>
                            </tr>
                            <tr>
                                <th>登入密碼</th>
                                <td>abc2388712chenxin</td>
                            </tr>
                            <tr>
                                <th>公司電話</th>
                                <td>02-2233-4455</td>
                            </tr>
                            <tr>
                                <th>公司傳真</th>
                                <td>02-2233-4456</td>
                            </tr>
                            <tr>
                                <th>管制編號</th>
                                <td>A654778</td>
                            </tr>
                        </tbody>
                        <hr>
                        <tbody style="text-align: left;">
                            <tr>
                                <th>聯絡人</th>
                                <td>李小恩</td>
                            </tr>
                            <tr>
                                <th>聯絡人電話</th>
                                <td>02-2233-4455<span>分機123</span></td>
                            </tr>
                            <tr>
                                <th>聯絡信箱</th>
                                <td>chenxin@gmail.com</td>
                            </tr>
                            <tr>
                                <th>帳收地址</th>
                                <td>106台北市大安區敦化南路一段160巷100號</td>
                            </tr>
                            <tr>
                                <th>通訊地址</th>
                                <td>106台北市大安區敦化南路一段160巷100號</td>
                            </tr>
                        </tbody>
                        <hr>
                        <tbody>
                            <tr>
                                <th>處理機構級別</th>
                                <td>甲級</td>
                            </tr>
                            <tr>
                                <th>處理方法</th>
                                <td>掩埋</td>
                            </tr>
                            <tr>
                                <th>處理許可證期限</th>
                                <td>三年</td>
                            </tr>
                            <tr>
                                <th>處理許可證更新日期</th>
                                <td>2019-10-18</td>
                            </tr>
                            <tr>
                                <th>處理許可證號</th>
                                <td>C985775540</td>
                            </tr>
                            <tr>
                                <th rowspan="2">處理許可項目</th>
                                <td>項目001 項目名稱項目名稱1</td>
                            </tr>
                            <tr>
                                <td>項目002 項目名稱項目名稱項目名稱2</td>
                            </tr>
                            <tr>
                                <th>處理技術人員證級別</th>
                                <td>甲級</td>
                            </tr>
                            <tr>
                                <th>處理技術人員證期限</th>
                                <td>五年</td>
                            </tr>
                            <tr>
                                <th>處理技術人員證更新日期</th>
                                <td>2020-10-18</td>
                            </tr>
                            <tr>
                                <th>處理技術人員證號</th>
                                <td>B88577462</td>
                            </tr>
                        </tbody>
                        <hr>
                        <tbody>
                            <tr>
                                <th>備援信箱</th>
                                <td>chenxinbackup@gmail.com</td>
                            </tr>
                            <tr>
                                <th>安全提問</th>
                                <td>公司成立日期</td>
                            </tr>
                            <tr>
                                <th>提問回答</th>
                                <td>19990101</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>