<div class="my-form">
  <div id="content" class="result-container">
    <p-breadcrumb id="breadcrumb" [model]="items" [home]="home"></p-breadcrumb>
  </div>
  <div id="content" class="result-container result-color">
    <div class="card">
      <div id="title" class="title">
        <span>編輯會員資料</span>
      </div>
      <div class="join-card">
        <form class="form-horizontal" [formGroup]="modifyUserDataForm">
          <div class="noticeinfo-container">
            <div class="d-flex formcol">
              <div class="title">
                <p>公司<br />資訊</p>
              </div>
              <div class="inputGroup">
                <div class="form-group row">
                  <label for="SellerName" class="col-sm-4 control-label">公司名稱</label>
                  <div class="col-sm-8">
                    <!-- <input type="text" oninput="value=value.replace(/[\d]/g,'')" -->
                    <input type="text" oninput="value=value.replace(/[/d]/g,'')" class="form-control" pInputText
                      placeholder="請輸入公司名稱" id="SellerName" formControlName="SellerName" />
                    <div class="small-style">
                      <small [hidden]="!modifyUserDataForm.controls.SellerName.hasError('required')">
                        必填欄位
                      </small>
                      <small [hidden]="!modifyUserDataForm.controls.SellerName.hasError('minlength')">
                        名稱字數請大於2
                      </small>
                      <small [hidden]="!modifyUserDataForm.controls.SellerName.hasError('pattern')">
                        請輸入英文或者中文
                      </small>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="Representative" class="col-sm-4 control-label">負責人</label>
                  <div class="col-sm-8">
                    <input type="text" oninput="value=value.replace(/[/d]/g,'')" class="form-control" pInputText
                      placeholder="請輸入負責人" id="Representative" formControlName="Representative" />
                    <div class="small-style">
                      <small [hidden]="!modifyUserDataForm.controls.Representative.hasError('required')">
                        必填欄位
                      </small>
                      <small [hidden]="!modifyUserDataForm.controls.Representative.hasError('minlength')">
                        名稱字數請大於2
                      </small>
                      <small [hidden]="!modifyUserDataForm.controls.Representative.hasError('pattern')">
                        請輸入英文或者中文
                      </small>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="TaxIDNumber" class="col-sm-4 control-label">公司統編(會員帳號)</label>
                  <div class="col-sm-8">
                    <!-- 只能輸入數字 -->
                    <input oninput="value=value.replace(/[^\d]/g,'')" maxlength="8" type="text" class="form-control"
                      pInputText placeholder="請輸入公司統編，此為您的會員帳號" id="TaxIDNumber" formControlName="TaxIDNumber"
                      readonly />
                    <div class="small-style">
                      <small [hidden]="!modifyUserDataForm.controls.TaxIDNumber.hasError('required')">
                        必填欄位
                      </small>
                      <small [hidden]="!modifyUserDataForm.controls.TaxIDNumber.hasError('minlength')">
                        請輸入至少8個數字
                      </small>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="Password" class="col-sm-4 control-label">登入密碼</label>
                  <div class="col-sm-8">
                    <!-- 只能輸入英數 -->
                    <input type="text" class="form-control" placeholder="8位以上英數字" pInputText id="Password"
                      formControlName="Password" />
                    <div class="small-style">
                      <small [hidden]="!modifyUserDataForm.controls.Password.hasError('required')">
                        必填欄位
                      </small>
                      <small [hidden]="!modifyUserDataForm.controls.Password.hasError('pattern')">
                        請輸入8位以上英數字
                      </small>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="PhoneNumber" class="col-sm-4 control-label">公司電話</label>
                  <div class="col-sm-8">
                    <input type="tel" class="form-control" maxlength="11" placeholder="請輸入傳真號碼 ex. 01-1234567"
                      pInputText formControlName="PhoneNumber" id="PhoneNumber" />
                    <div class="small-style">
                      <small [hidden]="!modifyUserDataForm.controls.PhoneNumber.hasError('required')">
                        必填欄位
                      </small>
                      <small [hidden]="!modifyUserDataForm.controls.PhoneNumber.hasError('pattern')">
                        填入格式 ex. 12-1234567
                      </small>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="Fax" class="col-sm-4 control-label">公司傳真</label>
                  <div class="col-sm-8">
                    <input type="tel" class="form-control" maxlength="11" placeholder="請輸入傳真號碼 ex. 01-1234567"
                      pInputText formControlName="Fax" id="Fax" />
                    <div class="small-style">
                      <small [hidden]="!modifyUserDataForm.controls.Fax.hasError('pattern')">
                        填入格式 ex. 12-1234567
                      </small>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="CareerType" class="col-sm-4 control-label">行業類別</label>
                  <div class="col-sm-8 CareerSelsct">
                    <div class="d-flex">
                      <p-dropdown #CareerTypeDropDown placeholder="選擇大類別" [showClear]="true"
                        [options]="CareerType$ | async" [filter]="true" [required]="true"
                        (onChange)="CareerSubType$ = onIndustryChange($event, CareerType, CareerTypeDropDown)"
                        inputId="CareerType" formControlName="CareerType">
                      </p-dropdown>
                      <p-dropdown #CareerSubType placeholder="選擇中類別" [showClear]="true"
                        [options]="CareerSubType$ | async" [filter]="true" [required]="true"
                        (onChange)="CareerSubTypeChange($event , CareerSubType)" inputId="CareerSubType"
                        formControlName="CareerSubType">
                      </p-dropdown>
                    </div>
                    <div class="small-style">
                      <small [hidden]=" !modifyUserDataForm.controls.CareerType.hasError('required') &&
                                                        !modifyUserDataForm.controls.CareerSubType.hasError('required')
                                                        ">
                        必填欄位，請填寫行業類別
                      </small>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="ControlNumber" class="col-sm-4 control-label">TPS_VIP_ID</label>
                  <div class="col-sm-8">
                    <input maxlength="8" type="text" class="form-control" placeholder="請輸入TPS_VIP_ID" pInputText
                      id="ControlNumber" formControlName="ControlNumber" />
                    <div class="small-style">
                      <small [hidden]="!modifyUserDataForm.controls.ControlNumber.hasError('required')">
                        必填欄位，ex.A1234567 若沒有請填寫 "無"
                      </small>
                      <small [hidden]="!modifyUserDataForm.controls.ControlNumber.hasError('minlength')">
                        字數請大於1
                      </small>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="d-flex formcol">
              <div class="title">
                <p>聯絡<br />方式</p>
              </div>
              <div class="inputGroup">
                <div class="form-group row">
                  <label for="ControlNumber" class="col-sm-4 control-label">聯絡人</label>
                  <div class="col-sm-8">
                    <input type="text" oninput="value=value.replace(/[/d]/g,'')" class="form-control" pInputText
                      placeholder="請輸入聯絡人名稱" id="ContactPerson" formControlName="ContactPerson" />
                    <div class="small-style">
                      <small [hidden]="!modifyUserDataForm.controls.ContactPerson.hasError('required')">
                        必填欄位
                      </small>
                      <small [hidden]="!modifyUserDataForm.controls.ContactPerson.hasError('minlength')">
                        名稱字數請大於2
                      </small>
                      <small [hidden]="!modifyUserDataForm.controls.ContactPerson.hasError('pattern')">
                        請輸入英文或者中文
                      </small>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="ContactPhoneNumber" class="col-sm-4 control-label">聯絡人電話</label>
                  <div class="col-sm-8 ContactPhone">
                    <div class="d-flex">
                      <input #onin type="tel" class="form-control" placeholder="請輸入聯絡號碼 ex. 12-1234567"
                        (keyup)="VaildPhoneNumber();" maxlength="11" pInputText id="ContactPhoneNumber"
                        formControlName="ContactPhoneNumber" />-
                      <input type="tel" class="form-control" placeholder="#分機" maxlength="4" pInputText
                        id="ContactPhoneExtension" formControlName="ContactPhoneExtension" />
                    </div>
                    <div class="small-style">
                      <small [hidden]="!modifyUserDataForm.controls.ContactPhoneNumber.hasError('required')">
                        必填欄位，與手機擇一填寫
                      </small>
                      <small [hidden]="!modifyUserDataForm.controls.ContactPhoneNumber.hasError('pattern')">
                        填入格式 ex. 12-1234567
                      </small>
                      <small [hidden]="!modifyUserDataForm.controls.ContactPhoneExtension.hasError('pattern')">
                        分機數字請大於2
                      </small>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="ContactMobilePhone" class="col-sm-4 control-label">聯絡人手機</label>
                  <div class="col-sm-8">
                    <input type="tel" class="form-control" placeholder="請輸入手機號碼 ex. 1234-123456"
                      (keyup)="VaildMobilePhone();" maxlength="11" pInputText id="ContactMobilePhone"
                      formControlName="ContactMobilePhone" />
                    <div class="small-style">
                      <small [hidden]="!modifyUserDataForm.controls.ContactMobilePhone.hasError('required')">
                        必填欄位，與電話擇一填寫
                      </small>
                      <small [hidden]="!modifyUserDataForm.controls.ContactMobilePhone.hasError('pattern')">
                        填入格式 ex. 1234-123456
                      </small>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="ContactMail" class="col-sm-4 control-label">聯絡信箱</label>
                  <div class="col-sm-8">
                    <input type="email" class="form-control" placeholder="請輸入聯絡信箱" pInputText id="ContactMail"
                      formControlName="ContactMail" />
                    <div class="small-style">
                      <small [hidden]="!modifyUserDataForm.controls.ContactMail.hasError('required')">
                        必填欄位
                      </small>
                      <small [hidden]=" !modifyUserDataForm.controls.ContactMail.hasError('email')">
                        請填寫有效的電子信箱，以收取審核通知
                      </small>
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="BillingZipCode" class="col-sm-4 control-label">登記地址</label>
                  <div class="col-sm-8 addressSelsct">
                    <div class="d-flex">
                      <input oninput="value=value.replace(/[^\d]/g,'')" type="text" maxlength="3" class="form-control"
                        placeholder="郵遞區號" pInputText id="BillingZipCode" formControlName="BillingZipCode" />
                      <p-dropdown placeholder="選擇縣市" [showClear]="true" [options]="BillingCity$ | async"
                        [required]="true" (onChange)="BillingDistrict$ = onCityChange($event, BillingDistrict)"
                        inputId="BillingCity" formControlName="BillingCity">
                      </p-dropdown>
                      <p-dropdown #BillingDistrict placeholder="選擇區鄉鎮" [showClear]="true"
                        [options]="BillingDistrict$ | async" [required]="true" inputId="BillingDistrict"
                        formControlName="BillingDistrict">
                      </p-dropdown>
                    </div>
                    <div class="addressInput">
                      <input type="text" class="form-control" pInputText placeholder="請輸入詳細地址" id="BillingRoad"
                        formControlName="BillingRoad" />
                    </div>
                    <div class="small-style">
                      <small [hidden]=" !modifyUserDataForm.controls.BillingCity.hasError('required') &&
                                        !modifyUserDataForm.controls.BillingDistrict.hasError('required') &&
                                        !modifyUserDataForm.controls.BillingRoad.hasError('required')
                                                        ">
                        必填欄位，請填寫正確完整的地址
                      </small>
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="MailingZipCode" class="col-sm-4 control-label">聯絡地址</label>
                  <div class="col-sm-8 addressSelsct">
                    <div class="d-flex">
                      <input oninput="value=value.replace(/[^\d]/g,'')" type="text" maxlength="3" class="form-control"
                        placeholder="郵遞區號" pInputText id="MailingZipCode" formControlName="MailingZipCode" />
                      <p-dropdown #MailingCity placeholder="選擇縣市" [showClear]="true" [options]="MailingCity$ | async"
                        [required]="true"
                        (onChange)="MailingDistrict$ = onCityChange($event, MailingDistrict , MailingCity)"
                        inputId="MailingCity" formControlName="MailingCity">
                      </p-dropdown>
                      <p-dropdown #MailingDistrict placeholder="選擇區鄉鎮" [showClear]="true"
                        [options]="MailingDistrict$ | async" [required]="true" inputId="MailingDistrict"
                        formControlName="MailingDistrict">
                      </p-dropdown>
                    </div>
                    <div class="addressInput">
                      <input type="text" class="form-control" pInputText placeholder="請輸入詳細地址" id="MailingRoad"
                        formControlName="MailingRoad" />
                    </div>
                    <div class="small-style">
                      <small [hidden]=" !modifyUserDataForm.controls.MailingCity.hasError('required') &&
                                                        !modifyUserDataForm.controls.MailingDistrict.hasError('required') &&
                                                        !modifyUserDataForm.controls.MailingRoad.hasError('required')
                                                        ">
                        必填欄位，請填寫正確完整的地址
                      </small>
                    </div>
                    <div class="checkbox">
                      <p-checkbox (onChange)="pasteCurAddress($event , modifyUserDataForm)" binary="true"></p-checkbox>
                      <label for="binary" style="margin-right: 1rem;">&#xA0;同登記地址</label>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div class="d-flex formcol">
              <div class="title">
                <p>忘記<br />密碼</p>
              </div>
              <div class="inputGroup">
                <div class="form-group row">
                  <label for="BackupMail" class="col-sm-4 control-label">備用信箱</label>
                  <div class="col-sm-8">
                    <input type="email" class="form-control" placeholder="請輸入備用信箱" pInputText id="BackupMail"
                      formControlName="BackupMail" />
                    <div class="small-style">
                      <small [hidden]="!modifyUserDataForm.controls.BackupMail.hasError('required')">
                        必填欄位
                      </small>
                      <small [hidden]=" !modifyUserDataForm.controls.BackupMail.hasError('email')">
                        請填寫有效的電子信箱
                      </small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row" style="margin-top:5rem;">
            <div class="justify-content-center btn-center">
              <button type="button" class="btn btn-primary btn-lg" (click)="goBack()">
                <i class="fa fa-lg fa-fw fa-arrow-right"></i>返回
              </button>
              <button id="left-btn" type="submit" class="btn btn-success btn-lg" (click)="onSubmit()">
                <i class="fa fa-lg fa-fw fa-pencil-square-o"></i>編輯完成
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<p-toast position="bottom-right"></p-toast>

<div id="progressSpinner" class="background-black" *ngIf="progressSpinner">
  <div class="progress-spinner">
    <p-progressSpinner class="customProgress"></p-progressSpinner>
  </div>
</div>
