<div class="container">
    <!-- 註冊角色選單 -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <!-- <h4 class="modal-title">請選擇註冊角色</h4> -->
                    <div class="mymodal-title">
                        請選擇註冊角色
                    </div>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row text-center">
                            <div class="col-lg-4 col-md-4 mb-12">
                                <div class="card">
                                    <img class="card-img-top card-img-style"
                                        src="/assets/img/portfolio/office-building.png" alt="">
                                    <div class="card-body">
                                        <h2 class="card-title">事業單位</h2>
                                    </div>
                                    <div class="card-footer-style">
                                        <a routerLink="/register">
                                            <button type="button" class="btn btn-success btn-lg"
                                                data-dismiss="modal">成為會員!</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 mb-12">
                                <div class="card">
                                    <img class="card-img-top  card-img-style" src="/assets/img/portfolio/dump-truck.png"
                                        alt="">
                                    <div class="card-body">
                                        <h2 class="card-title">清除業者</h2>
                                    </div>
                                    <div class="card-footer-style">
                                        <a routerLink="/clean-register">
                                            <button type="button" class="btn btn-success btn-lg"
                                                data-dismiss="modal">成為夥伴!</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 mb-12">
                                <div class="card">
                                    <img class="card-img-top  card-img-style" src="/assets/img/portfolio/factory.png"
                                        alt="">
                                    <div class="card-body">
                                        <h2 class="card-title">處理業者</h2>
                                    </div>
                                    <div class="card-footer-style">
                                        <a routerLink="/processing-register">
                                            <button type="button" class="btn btn-success btn-lg"
                                                data-dismiss="modal">成為夥伴!</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-success btn-lg" data-dismiss="modal">關閉</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 查看完成照片 -->
    <div class="modal fade" id="myModal2" role="dialog">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <!-- <h4 class="modal-title">查看完成照片</h4> -->
                    <div class="mymodal-title">
                        查看完成照片
                    </div>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">

                    <div id="carouselExampleIndicators01" class="carousel slide" data-ride="carousel"
                        data-interval="false">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators01" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators01" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators01" data-slide-to="2"></li>
                            <li data-target="#carouselExampleIndicators01" data-slide-to="3"></li>
                            <li data-target="#carouselExampleIndicators01" data-slide-to="4"></li>
                        </ol>
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active">
                                <img class="d-block w-100"
                                    src="https://ourisland.pts.org.tw/sites/default/files/917-2-4.jpg"
                                    style="width: 100%;" alt="01">
                                <div class="carousel-caption">
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100"
                                    src="https://m1.aboluowang.com/uploadfile/2018/1011/20181011071144940.jpg"
                                    style="width: 100%;" alt="02">
                                <div class="carousel-caption">
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100"
                                    src="https://ourisland.pts.org.tw/sites/default/files/917-2-4.jpg"
                                    style="width: 100%;" alt="03">
                                <div class="carousel-caption">
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100"
                                    src="https://m1.aboluowang.com/uploadfile/2018/1011/20181011071144940.jpg"
                                    style="width: 100%;" alt="04">
                                <div class="carousel-caption">
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100"
                                    src="https://ourisland.pts.org.tw/sites/default/files/917-2-4.jpg"
                                    style="width: 100%;" alt="05">
                                <div class="carousel-caption">
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" data-target="#carouselExampleIndicators01" role="button"
                            data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" data-target="#carouselExampleIndicators01" role="button"
                            data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-success btn-lg" data-dismiss="modal">關閉</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 查看不符照片 -->
    <div class="modal fade" id="myModal3" role="dialog">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <!-- <h4 class="modal-title">查看不符照片</h4> -->
                    <div class="mymodal-title">
                        查看不符照片
                    </div>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">

                    <div id="carouselExampleIndicators02" class="carousel slide" data-ride="carousel"
                        data-interval="false">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators02" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators02" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators02" data-slide-to="2"></li>
                            <li data-target="#carouselExampleIndicators02" data-slide-to="3"></li>
                            <li data-target="#carouselExampleIndicators02" data-slide-to="4"></li>
                        </ol>
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active">
                                <img class="d-block w-100"
                                    src="https://ourisland.pts.org.tw/sites/default/files/917-2-4.jpg"
                                    style="width: 100%;" alt="01">
                                <div class="carousel-caption">
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100"
                                    src="https://m1.aboluowang.com/uploadfile/2018/1011/20181011071144940.jpg"
                                    style="width: 100%;" alt="02">
                                <div class="carousel-caption">
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100"
                                    src="https://ourisland.pts.org.tw/sites/default/files/917-2-4.jpg"
                                    style="width: 100%;" alt="03">
                                <div class="carousel-caption">
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100"
                                    src="https://m1.aboluowang.com/uploadfile/2018/1011/20181011071144940.jpg"
                                    style="width: 100%;" alt="04">
                                <div class="carousel-caption">
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100"
                                    src="https://ourisland.pts.org.tw/sites/default/files/917-2-4.jpg"
                                    style="width: 100%;" alt="05">
                                <div class="carousel-caption">
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" data-target="#carouselExampleIndicators02" role="button"
                            data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" data-target="#carouselExampleIndicators02" role="button"
                            data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-success btn-lg" data-dismiss="modal">關閉</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 申請合約確認 -->
    <div class="modal fade" id="myModal4" role="dialog">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <!-- <h4 class="modal-title">確認申請合約</h4> -->
                    <div class="mymodal-title">
                        確認申請合約
                    </div>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="checkbox">
                        <label style="font-size: 1.3em;">
                            <input type="checkbox" style=" width:18px; height:18px;" />我已經詳細閱讀過報價內容，並且確認同意申請合約。</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-success btn-lg" data-dismiss="modal">確認</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 清除業者訂單列表 -->
    <div class="modal fade" id="myModal5" role="dialog">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <!-- <h4 class="modal-title"> -->
                    <div class="mymodal-title">
                        派車單號：ASS9000516
                    </div>
                    <!-- </h4> -->
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">

                    <div class="my-tab">
                        <p-table #dt [columns]="cols" [value]="order" [paginator]="true" [scrollable]="true" [rows]="5"
                            [(selection)]="selectedOrders" [resizableColumns]="true" [style]="{width: '100%'}"
                            [showCurrentPageReport]="true"
                            currentPageReportTemplate="顯示 {first} 至 {last} 共 {totalRecords} 筆資料"
                            [rowsPerPageOptions]="[5,10]" styleClass="p-datatable-customers">
                            <ng-template pTemplate="caption">
                                <div class="ptable-header">
                                    訂單列表
                                </div>
                            </ng-template>
                            <ng-template pTemplate="colgroup" let-columns>
                                <colgroup>
                                    <col *ngFor="let col of columns" [style.width]="col.width">
                                </colgroup>
                            </ng-template>
                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th *ngFor="let col of columns">
                                        {{col.header}}
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-columns="columns" let-order>
                                <tr>
                                    <td *ngFor="let col of columns">
                                        <ng-container *ngIf="col.field == 'no'">
                                            <div class="td-center">
                                                {{rowData[col.field]}}
                                            </div>
                                        </ng-container>
                                        <ng-container *ngIf="col.field == 'OrderID'">
                                            <div class="td-center">
                                                <a routerLink="/clean/clean-dispatch/order-info" class="td-a-color"
                                                    data-dismiss="modal">
                                                    {{rowData[col.field]}}
                                                </a>
                                            </div>
                                        </ng-container>
                                        <ng-container *ngIf="col.field == 'CarNumber'">
                                            {{rowData[col.field]}}
                                        </ng-container>
                                        <ng-container *ngIf="col.field == 'OrderItems'">
                                            {{rowData[col.field][0]}}<br>{{rowData[col.field][1]}}<br>{{rowData[col.field][2]}}
                                        </ng-container>
                                        <ng-container *ngIf="col.field == 'OrderProgress'">
                                            <div class="td-center">
                                                <button [class]="'status-' + order.status[0]">
                                                    {{rowData[col.field]}}
                                                </button>
                                            </div>
                                        </ng-container>
                                        <ng-container *ngIf="col.field == 'Progress'">
                                            <div class="td-center">
                                                <button [class]="'status-' + order.status[1]">
                                                    {{rowData[col.field]}}
                                                </button>
                                            </div>
                                        </ng-container>
                                        <ng-container *ngIf="col.field == 'Payment'">
                                            <div class="td-center">
                                                <button [class]="'status-' + order.status[2]">
                                                    {{rowData[col.field]}}
                                                </button>
                                            </div>
                                        </ng-container>
                                        <ng-container *ngIf="col.field == 'Edit'">
                                            <div class="td-center">
                                                <a routerLink="/company/order-progress/order-info">
                                                    <button pButton pRipple icon="pi pi-file-o"
                                                        class="p-button-rounded p-button-success p-mr-2"
                                                        (click)="editProduct()">
                                                    </button>
                                                </a>
                                                <button pButton pRipple icon="pi pi-trash"
                                                    class=" p-button-rounded p-button-warning"
                                                    (click)="deleteProduct()">
                                                </button>
                                            </div>
                                        </ng-container>
                                        <ng-container *ngIf="
                                            col.field !== 'no' &&
                                            col.field !== 'OrderID' &&
                                            col.field !== 'OrderProgress' &&
                                            col.field !== 'OrderImage' &&
                                            col.field !== 'OrderItems' &&
                                            col.field !== 'Progress' &&
                                            col.field !== 'CarNumber' &&
                                            col.field !== 'Payment'
                                            ">
                                            {{rowData[col.field]}}
                                        </ng-container>
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="emptymessage">
                                沒有資料
                            </ng-template>
                        </p-table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-success btn-lg" data-dismiss="modal">關閉</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 處理業者訂單列表 -->
    <div class="modal fade" id="myModal6" role="dialog">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <!-- <h4 class="modal-title"> -->
                    <div class="mymodal-title">
                        派車單號：ASS9000516
                    </div>
                    <!-- </h4> -->
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="my-tab">
                        <p-table #dt [columns]="cols" [value]="order" [paginator]="true" [scrollable]="true" [rows]="5"
                            [(selection)]="selectedOrders" [resizableColumns]="true" [style]="{width: '100%'}"
                            [showCurrentPageReport]="true"
                            currentPageReportTemplate="顯示 {first} 至 {last} 共 {totalRecords} 筆資料"
                            [rowsPerPageOptions]="[5,10]" styleClass="p-datatable-customers">
                            <ng-template pTemplate="caption">
                                <div class="ptable-header">
                                    訂單列表
                                </div>
                            </ng-template>
                            <ng-template pTemplate="colgroup" let-columns>
                                <colgroup>
                                    <col *ngFor="let col of columns" [style.width]="col.width">
                                </colgroup>
                            </ng-template>
                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th *ngFor="let col of columns">
                                        {{col.header}}
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-columns="columns" let-order>
                                <tr>
                                    <td *ngFor="let col of columns">
                                        <ng-container *ngIf="col.field == 'no'">
                                            <div class="td-center">
                                                {{rowData[col.field]}}
                                            </div>
                                        </ng-container>
                                        <ng-container *ngIf="col.field == 'OrderID'">
                                            <div class="td-center">
                                                <a routerLink="/refuse-processing/clean-dispatch/order-info"
                                                    class="td-a-color" data-dismiss="modal">
                                                    {{rowData[col.field]}}
                                                </a>
                                            </div>
                                        </ng-container>
                                        <ng-container *ngIf="col.field == 'CarNumber'">
                                            {{rowData[col.field]}}
                                        </ng-container>
                                        <ng-container *ngIf="col.field == 'OrderItems'">
                                            {{rowData[col.field][0]}}<br>{{rowData[col.field][1]}}<br>{{rowData[col.field][2]}}
                                        </ng-container>
                                        <ng-container *ngIf="col.field == 'OrderProgress'">
                                            <div class="td-center">
                                                <button [class]="'status-' + order.status[0]">
                                                    {{rowData[col.field]}}
                                                </button>
                                            </div>
                                        </ng-container>
                                        <ng-container *ngIf="col.field == 'Progress'">
                                            <div class="td-center">
                                                <button [class]="'status-' + order.status[1]">
                                                    {{rowData[col.field]}}
                                                </button>
                                            </div>
                                        </ng-container>
                                        <ng-container *ngIf="col.field == 'Payment'">
                                            <div class="td-center">
                                                <button [class]="'status-' + order.status[2]">
                                                    {{rowData[col.field]}}
                                                </button>
                                            </div>
                                        </ng-container>
                                        <ng-container *ngIf="col.field == 'Edit'">
                                            <div class="td-center">
                                                <a routerLink="/company/order-progress/order-info">
                                                    <button pButton pRipple icon="pi pi-file-o"
                                                        class="p-button-rounded p-button-success p-mr-2"
                                                        (click)="editProduct()">
                                                    </button>
                                                </a>
                                                <button pButton pRipple icon="pi pi-trash"
                                                    class=" p-button-rounded p-button-warning"
                                                    (click)="deleteProduct()">
                                                </button>
                                            </div>
                                        </ng-container>
                                        <ng-container *ngIf="
                                            col.field !== 'no' &&
                                            col.field !== 'OrderID' &&
                                            col.field !== 'OrderProgress' &&
                                            col.field !== 'OrderImage' &&
                                            col.field !== 'OrderItems' &&
                                            col.field !== 'Progress' &&
                                            col.field !== 'CarNumber' &&
                                            col.field !== 'Payment'
                                            ">
                                            {{rowData[col.field]}}
                                        </ng-container>
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="emptymessage">
                                沒有資料
                            </ng-template>
                        </p-table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-success btn-lg" data-dismiss="modal">關閉</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 公布欄 -->
    <div class="modal fade bd-example-modal-xl" id="myModal7" role="dialog">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <!-- <h4 class="modal-title">公告標題</h4> -->
                    <div class="mymodal-title">
                        公告標題
                    </div>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <!-- <div class="panel panel-default">
                        <div class="panel-heading">
                            <span>公告內容</span>
                        </div>
                        <div class="panel-body padding-10">
                            <div class="margin-bottom-10">
                                文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
                            </div>
                            <div class="margin-top-10 margin-bottom-10">
                                文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
                            </div>
                            <div class="detail__footer">
                                <p>建立者：Sam</p>
                                <p>建立日期：2019-11-12</p>
                            </div>
                        </div>
                    </div> -->
                    <div class="align-middle">
                        <div class="row">
                            <div class="col-2">
                                <i class="pi pi-calendar"></i>
                                <label>
                                    2020-06-10
                                </label>
                            </div>
                            <div class="col-2">
                                <i class="pi pi-clock"></i>
                                <label>
                                    10:25
                                </label>
                            </div>
                        </div>
                        <label>
                            草屯垃圾場火災，昨（22）日經各界群策群力，火勢已控制，現場雖已無明火，惟仍須持續灑水警戒觀察，為有效全面監控垃圾堆溫度，環保署採用高科技儀器熱顯像儀，如監測溫度有過高之處，將通知消防灑水，以避免死灰復燃。
                            環保署自昨（22）日火滅之後，仍不敢鬆懈，持續派人留守指揮中心，截至今日已投入50人力以上協助救災及監控現場，昨晚掩埋面一度閃起明火，隨即調派消防水線灑水後，已迅速將火熄滅，經昨晚同仁輪班徹夜監視，目前已全面控制，已無悶燒。
                            行政院中部聯合服務中心蔡培慧執行長本（23）日一早8時第4次親自到場與環保署及水利署等同仁會勘救災最新進度，以及慰勞關心現場救災人員。蔡培慧表示，這幾天，不管是中央的環保署、消防署、水利署，還是南投縣消防局與環保局、鎮公所，以及民間業者犧牲假日在現場全力調度機具，齊心協力無非就是希望儘早澈底滅火。後續的垃圾移除計畫及協調去化也將盡力協調促成。
                            環保署表示，會全力協助草屯垃圾場火災善後工作，災後工作重點，在於掩埋場整理整頓、受損設施復建、強化消防設施及監控系統，以及後續垃圾移除工作，環保署將提供專業人力協助草屯鎮公所研擬計畫，並給予必要之經費，惟仍需請南投縣政府及草屯鎮公所積極配合。
                            環保署最後強調，環保設施管理及垃圾處理依廢棄物清理法規定屬於地方政府權責，南投縣政府應虛心面對此次事件，深刻檢討，並且全面盤點所有環保設施防災量能，落實管理，避免類似事件再次發生。長遠規劃，南投縣政府應帶領各鄉鎮市一同積極面對垃圾處理問題，應做好廢棄物管理各項工作與積極籌建自主處理垃圾設施，為縣民環境品質改善而努力，如有相關經費需求可向環保署提出請求。
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-success btn-lg" data-dismiss="modal">確認</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 修改確認 -->
    <div class="modal fade" id="myModal8" role="dialog">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <!-- <h4 class="modal-title">系統提示</h4> -->
                    <div class="mymodal-title">
                        系統提示
                    </div>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="checkbox">
                        <label style="font-size: 1.3em;">資料修改完成。</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" (click)="goBack()">確認</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 提交車輛確認 -->
    <div class="modal fade" id="myModal9" role="dialog">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <!-- <h4 class="modal-title">確認提交車輛</h4> -->
                    <div class="mymodal-title">
                        確認提交車輛
                    </div>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="checkbox">
                        <label style="font-size: 1.3em;">
                            <input type="checkbox"
                                style=" width:18px; height:18px;" />我已經詳細了解並願意申請提交車輛，且同意等候審核與平台簽署合約。</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-success btn-lg" data-dismiss="modal">確認</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 公布欄 -->
    <div class="modal fade bd-example-modal-xl" id="myModal10" role="dialog">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <!-- <h4 class="modal-title">消息標題</h4> -->
                    <div class="mymodal-title">
                        消息標題
                    </div>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="align-middle">
                        <div class="row">
                            <div class="col-2">
                                <i class="pi pi-calendar"></i>
                                <label>
                                    2020-06-10
                                </label>
                            </div>
                            <div class="col-2">
                                <i class="pi pi-clock"></i>
                                <label>
                                    10:25
                                </label>
                            </div>
                        </div>
                        <label>
                            為鼓勵民間企業及社區共同參與認養空氣品質淨化區，環保署特舉辦認養優良競賽，本(109)年由全國800處空品淨化區評薦出19個縣市計69個企業及社區入圍，經評比決選出56個績優單位，今(19)日於臺灣大學梅峰農場會議中心由環保署沈副署長志修頒發獎牌，感謝眾多默默付出人力物力的環保尖兵們，讓臺灣綠意盎然。
                            環保署指出，本年度頒發共計56個獎項，包括24個特殊貢獻獎(企業7名、志工17名)、5個特優獎、10個優勝獎、10個佳作以及7個推動績優獎(績優名單如附件)。
                            特殊貢獻獎為目前最高榮譽獎項，其中獲得特殊貢獻獎的企業「仁寶電腦股份有限公司」每年花費70萬以上經費精心維護空品淨化區，民眾常來休憩、拍攝婚紗；屏東縣里港鄉朧偉祥慈善會為回饋鄉里、改善企業形象，每年投入160萬維護外，亦致力於分流周邊交通動線，降低道路揚塵，且常辦理兒童寒假營生態導覽解說。雲林縣崙西社區發展協會、宜蘭市民權社區發展協會、花蓮市民生社區發展協會、基隆市環保志願服務協會、關西北斗社區發展協會及清水區海風里辦公室熱心的社區志工，全心投入認養維護工作，其無私奉獻的精神，值得嘉獎，特頒發1萬元獎金。另針對穫得特優獎之屏東縣仁和關懷協進會、苗栗縣三義鄉廣盛村資源回收站及臺中市大里區新里里辦公處頒發6仟元獎金。
                            環保署感謝所有認養單位無私的奉獻，同時也呼籲大家，空氣品質攸關每個人的健康，未來將持續藉由認養甄選公開表揚方式，促使更多企業與社區志工參與認養，讓我們共同為環境盡一分心力大家攜手朝向淨化、綠化、美化等目標邁進。
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-success btn-lg" data-dismiss="modal">確認</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 聯絡我們 -->
    <div class="modal fade" id="myModal11" role="dialog">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <!-- <h4 class="modal-title"> -->
                    <div class="mymodal-title">
                        聯絡我們
                    </div>
                    <!-- </h4> -->
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">

                    <form>
                        <div class="form-group row">
                            <label for="recipient-name" class="col-sm-2 control-label">聯絡名稱:</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="recipient-name" value=""
                                    placeholder="請輸入聯絡人或公司名稱">
                            </div>
                            <label for="mail" class="col-sm-2 control-label">聯絡信箱:</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="mail" value="" placeholder="請輸入信箱">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="phome" class="col-sm-2 control-label">聯絡電話:</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="phome" value="" placeholder="請輸入號碼">
                            </div>
                            <label for="mail-date" class="col-sm-2 control-label">聯絡日期:</label>
                            <div class="col-sm-4">
                                <input type="datetime" class="form-control" id="mail-date" name="mail-date"
                                    [(ngModel)]="today" placeholder="發送日期" readonly />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="message-text" class="col-sm-12 control-label">訊息內容:</label>
                            <textarea class="form-control" id="message-text" style="min-height: 10em;"
                                placeholder="請輸入訊息內容"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success btn-lg" data-dismiss="modal"><i
                            class="fa fa-lg fa-fw fa-inbox"></i>送出訊息</button>
                    <button type="button" class="btn btn-outline-success btn-lg" data-dismiss="modal">關閉</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 忘記密碼 -->
    <div class="modal fade" id="myModal12" role="dialog">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="mymodal-title">
                        忘記密碼
                    </div>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="GetPasswordmail" class="col-sm-4 control-label">提交收取密碼信箱:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="GetPasswordmail" value="" placeholder="請輸入信箱">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="quiz" class="col-sm-4 control-label">安全提問:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="quiz" placeholder="安全提問為您忘記密碼時使用" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="answer" class="col-sm-4 control-label">提問答案:</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="answer" placeholder="" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a routerLink="/index">
                        <button type="button" class="btn btn-outline-success btn-lg" data-dismiss="modal">確認</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- 車輛紀錄訊息 -->
    <div class="modal fade" id="myModal13" role="dialog">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <!-- <h4 class="modal-title"> -->
                    <div class="mymodal-title">
                        車輛紀錄訊息
                    </div>
                    <!-- </h4> -->
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">

                    <form>
                        <div class="form-group row">
                            <label for="note-title" class="col-sm-2 control-label">標題:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="note-title" value="" placeholder="請輸入標題">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="note-date" class="col-sm-2 control-label">紀錄日期:</label>
                            <div class="col-sm-4">
                                <input type="datetime" class="form-control" id="note-date" name="note-date"
                                    [(ngModel)]="today" placeholder="記錄日期" readonly />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="note-text" class="col-sm-12 control-label">內容:</label>
                            <textarea class="form-control" id="note-text" style="min-height: 10em;"
                                placeholder="請輸入訊息內容"></textarea>
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success btn-lg" data-dismiss="modal"><i
                            class="fa fa-lg fa-fw fa-inbox"></i>儲存訊息</button>
                    <button type="button" class="btn btn-outline-success btn-lg" data-dismiss="modal">關閉</button>
                </div>
            </div>
        </div>
    </div>

</div>
