
<div class="modal-body">
  <div class="align-middle">
    <div class="row">
      <div class="col-6">
        <i class="pi pi-calendar"></i>
        <label>
          {{ configFEBillboard.data.UP_DateTime}}
        </label>
      </div>
    </div>
    <label>
      {{ configFEBillboard.data.Content }}
    </label>
    <div>
      <ng-template pTemplate="body" ngFor let-FileList [ngForOf]="FileList" let-i="index">
        <a download="{{FileList.FileName}}" href="{{downloadUrl}}{{FileList.FilePath}}">{{FileList.FileName}}</a><br>
      </ng-template>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-success btn-lg" (click)="ngOnDestroy()">確認</button>
</div>

