.ptable-header {
    text-align: left;
    margin-left: -1em !important;
    padding-left: 0.75rem;
}

.p-button-success {
    margin-top: unset !important;
    background-color: #5179d1 !important;
    border: #5179d1 !important;
}

.p-button-warning {
    margin-top: unset !important;
    background-color: #ff4454 !important;
    border: #ff4454 !important;
}

.p-button-layout {
    margin-top: unset !important;
    background-color: #3bac4e !important;
    border: #3bac4e !important;
}