<div class="my-form">
    <div id="content" class="result-container">
        <p-breadcrumb id="breadcrumb" [model]="items" [home]="home"></p-breadcrumb>
    </div>
    <div id="content" class="result-container result-color">
        <div class="card">
            <div class="title">
                <span>TSP_Quotation管理_List</span>
                    <div class="btn-right">
                        <a routerLink="/company/quotation/new-quotation">
                            <button type="button" class="btn btn-success btn-lg"><i
                                    class="fa fa-lg fa-fw fa-file-text"></i>初次TSP_Quotation申請</button>
                        </a>
                    </div>
            </div>
            <mat-tab-group mat-align-tabs="start" class="tab-top">
                <mat-tab label="近三個月TSP_Quotation清單({{QuoteLength}})">
                    <app-recent-quotations (counterEvt)="counterCal($event)"></app-recent-quotations>
                </mat-tab>
            </mat-tab-group>
            <p class="p-Browse">建議使用Google chrome瀏覽器，以達到最佳瀏覽效果。</p>
        </div>
    </div>
</div>

<div id="progressSpinner" class="background-black" *ngIf="progressSpinner">
  <div class="progress-spinner">
    <p-progressSpinner class="customProgress"></p-progressSpinner>
  </div>
</div>
