<div class="my-form">
    <div id="content" class="result-container">
        <p-breadcrumb id="breadcrumb" [model]="items" [home]="home"></p-breadcrumb>
    </div>
    <div id="content" class="result-container result-color">
        <div class="card">
            <div class="title">
                <span>派車單管理列表</span>
                <!-- <div class="btn-right">
                    <a routerLink="/company/quotation/modify-quotation">
                        <button type="button" class="btn btn-success btn-lg"><i
                                class="fa fa-lg fa-fw fa-file-text"></i>合約估價申請</button>
                    </a>
                </div> -->
            </div>
            <mat-tab-group mat-align-tabs="start" class="tab-top">

                <mat-tab label="近三個月派車單(24)">
                    <app-recent-dispatch></app-recent-dispatch>
                </mat-tab>

                <mat-tab label="尚未執行(6)">
                    <app-tobo-dispatch></app-tobo-dispatch>
                </mat-tab>

                <mat-tab label="執行完畢(6)">
                    <app-fulfill></app-fulfill>
                </mat-tab>

                <mat-tab label="異常派車單(6)">
                    <app-abnormal></app-abnormal>
                </mat-tab>

            </mat-tab-group>
            <p class="p-Browse">建議使用Google chrome瀏覽器，以達到最佳瀏覽效果。</p>
        </div>
    </div>
</div>