<div class="modal-body">
  <form [formGroup]="ForgetPasswordForm">
    <div class="form-group row">
      <label for="UserId" class="col-sm-4 control-label">
        註冊帳號:
      </label>
      <div class="col-sm-8">
        <input maxlength="8" type="text" class="form-control" pInputText placeholder="請輸入您的公司統編(會員帳號)"
          oninput="value=value.replace(/[^\d]/g,'')"
          id="UserId" formControlName="UserId" />
        <small [hidden]="!ForgetPasswordForm.controls.UserId.hasError('required')">
          必填欄位
        </small>
        <small [hidden]="!ForgetPasswordForm.controls.UserId.hasError('minlength')">
          請輸入至少8個數字
        </small>
      </div>
    </div>
    <div class="form-group row">
      <label for="Email" class="col-sm-4 control-label">
        聯絡信箱:
      </label>
      <div class="col-sm-8">
        <input type="text" class="form-control" pInputText placeholder="請輸入聯絡信箱" value=""
        id="Email" formControlName="Email" />
        <small [hidden]="!ForgetPasswordForm.controls.Email.hasError('required')">
          必填欄位
        </small>
        <small [hidden]="!ForgetPasswordForm.controls.Email.hasError('email')">
          請填寫有效的電子信箱，以收取密碼
        </small>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-success btn-lg" (click)="onSubmit()"><i
      class="fa fa-lg fa-fw fa-inbox"></i>發送密碼至信箱</button>
  <button type="button" class="btn btn-outline-success btn-lg" (click)="ngOnDestroy()">關閉</button>
</div>
<p-toast position="bottom-right"></p-toast>

<div id="progressSpinner" class="background-black" *ngIf="progressSpinner">
  <div class="progress-spinner">
    <p-progressSpinner class="customProgress"></p-progressSpinner>
  </div>
</div>
