@import "../../../company/member-profile/modify-member-profile/modify-member-profile.component.scss";

.p-button-success {
    margin-top: unset !important;
    background-color: #5179d1 !important;
    border: #5179d1 !important;
}

.p-button-warning {
    margin-top: unset !important;
    background-color: #ff4454 !important;
    border: #ff4454 !important;
}

.p-button-layout {
    margin-top: unset !important;
    background-color: #3bac4e !important;
    border: #3bac4e !important;
}

.p-button-org {
    margin-top: unset !important;
    background-color: #fd7e14 !important;
    border: #fd7e14 !important;
}

.input-margin {
    margin: 0 10px;
}
.select-width {
    width: 45%;
}



// form {
//     table {
//     //   @include light_green_table();
//       th {
//         text-align: center;
//         width: 170px;
//       }
//     }
//     fieldset {
//       padding: 0;
//       .title {
//         // @include p_title();
//         margin-top: 30px;
//         // &.errorText {
//         //   color: $error_btn;
//         // }
//       }
//       .amountArea {
//         display: flex;
//         align-items: center;
//         margin: 10px 0;
//         label {
//           margin-right: 5px;
//         }
//         .amount {
//           margin-right: 18px;
//         }
//       }
//       //時間樣式
//     //   .calendar {
//     //     @include calendar();
//     //   }
//       //單選鈕
//       .radioGroup {
//         display: block;
//         mat-radio-button {
//           margin-right: 20px;
//           &[value="0"] {
//             // color: $red;
//           }
//           &[value="1"] {
//             // color: $green;
//           }
//         }
//       }
//       //資料錯誤填寫表單
//       &.overrule {
//         display: none;
//         &.active {
//           display: block;
//         }
//         table {
//           thead {
//             tr {
//               th {
//                 // background: $error_btn;
//                 color: #fff;
//               }
//             }
//           }
//           tbody {
//             tr {
//               th {
//                 // background: $error_table_th;
//               }
//               td {
//                 textarea {
//                   width: 100%;
//                 }
//               }
//             }
//           }
//         }
//       }
//     }

//     .btnGroup {
//       margin-top: 20px;
//       text-align: right;
//       button {
//         // @include button();
//         color: #000;
//       }
//     }
// }
