<div class="my-form">
    <div id="content" class="result-container">
        <p-breadcrumb id="breadcrumb" [model]="items" [home]="home"></p-breadcrumb>
    </div>
    <div id="content" class="result-container result-color">
        <div class="card">
            <div class="title">
                <span>編輯會員資料</span>
                <div class="btn-right">
                    <a routerLink="/clean/member-profile">
                        <button id="left-btn" type="button" class="btn btn-success btn-lg"><i
                                class="fa fa-lg fa-fw fa-pencil-square-o"></i>編輯完成</button>
                    </a>
                    <button type="button" class="btn btn-primary btn-lg" (click)="goBack()"><i
                            class="fa fa-lg fa-fw fa-arrow-right"></i>返回</button>
                </div>
            </div>
            <div class="join-card">
                <form class="form-horizontal">
                    <!-- container -->
                    <div class="noticeinfo-container">
                        <!-- <table> -->
                        <div class="d-flex formcol">
                            <div class="th-title">
                                <p>公司<br />資訊</p>
                            </div>
                            <div class="inputGroup">
                                <div class="form-group row">
                                    <!-- <span>*</span> -->
                                    <label for="companyName" class="col-sm-4 control-label">公司名稱</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="companyName"
                                            placeholder="請輸入公司名稱" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="ceo" class="col-sm-4 control-label">負責人</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="ceo" placeholder="請輸入負責人" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="number" class="col-sm-4 control-label">公司統編(會員帳號)</label>
                                    <div class="col-sm-8">
                                        <input oninput="value=value.replace(/[^\d]/g,'')" class="form-control"
                                            id="number" placeholder="請輸入公司統編，此為您的會員帳號" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="password" class="col-sm-4 control-label">登入密碼</label>
                                    <div class="col-sm-8">
                                        <input type="password" class="form-control" id="password"
                                            placeholder="8-12位英數字" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="confirmPassword" class="col-sm-4 control-label">確認密碼</label>
                                    <div class="col-sm-8">
                                        <input type="password" class="form-control" id="confirmPassword"
                                            placeholder="請再次確認密碼" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="phoneNumber" class="col-sm-4 control-label">公司電話</label>
                                    <div class="col-sm-8">
                                        <input type="tel" class="form-control" id="phoneNumber" placeholder="請輸入電話號碼"
                                            pattern="[0-9]{2}-[0-9]{4}-[0-9]{4}" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="FaxNumber" class="col-sm-4 control-label">公司傳真</label>
                                    <div class="col-sm-8">
                                        <input type="tel" class="form-control" id="FaxNumber" placeholder="請輸入傳真號碼"
                                            pattern="[0-9]{2}-[0-9]{4}-[0-9]{4}" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="ControlNumber" class="col-sm-4 control-label">管制編號</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="ControlNumber"
                                            placeholder="請輸入管制編號" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex formcol">
                            <div class="th-title">
                                <p>聯絡<br />方式</p>
                            </div>
                            <div class="inputGroup">
                                <div class="form-group row">
                                    <!-- <span>*</span> -->
                                    <label for="username" class="col-sm-4 control-label">聯絡人</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="username" placeholder="請輸入公司名稱" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="userPhone" class="col-sm-4 control-label">聯絡人電話</label>
                                    <div class="col-sm-8 d-flex">
                                        <input type="text" class="form-control" id="userPhone" placeholder="請輸入電話號碼" />
                                        <input type="text" class="form-control" placeholder="分機號碼" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="mail" class="col-sm-4 control-label">聯絡信箱</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="mail" placeholder="請輸入聯絡信箱" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="address" class="col-sm-4 control-label">帳寄地址</label>
                                    <div class="col-sm-8 address">
                                        <div class="d-flex">
                                            <input type="text" class="form-control" id="address1" placeholder="郵遞區號" />
                                            <!-- <p-dropdown class="addressSelsct" inputId="state" [options]="states" [(ngModel)]="selectedState" placeholder="Select" optionLabel="name"></p-dropdown> -->
                                            <select class="form-control">
                                                <option value="">選擇縣市</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                            <select class="form-control">
                                                <option value="">選擇區域</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                            <select class="form-control">
                                                <option value="">選擇路段</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                        </div>
                                        <div class="d-flex a-items-center">
                                            <input type="text" class="form-control" placeholder="" />
                                            <span>巷</span>
                                            <input type="text" class="form-control" placeholder="" />
                                            <span>弄</span>
                                            <input type="text" class="form-control" placeholder="" />
                                            <span>號之</span>
                                            <input type="text" class="form-control" placeholder="" />
                                            <input type="text" class="form-control" placeholder="" />
                                            <span>樓之</span>
                                            <input type="text" class="form-control" placeholder="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="address1" class="col-sm-4 control-label">通訊地址</label>
                                    <div class="col-sm-8 address">
                                        <div class="d-flex">
                                            <input type="text" class="form-control" id="address2" placeholder="郵遞區號" />
                                            <select class="form-control">
                                                <option value="">選擇縣市</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                            <select class="form-control">
                                                <option value="">選擇區域</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                            <select class="form-control">
                                                <option value="">選擇路段</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                        </div>
                                        <div class="d-flex a-items-center">
                                            <input type="text" class="form-control" placeholder="" />
                                            <span>巷</span>
                                            <input type="text" class="form-control" placeholder="" />
                                            <span>弄</span>
                                            <input type="text" class="form-control" placeholder="" />
                                            <span>號之</span>
                                            <input type="text" class="form-control" placeholder="" />
                                            <input type="text" class="form-control" placeholder="" />
                                            <span>樓之</span>
                                            <input type="text" class="form-control" placeholder="" />
                                        </div>
                                        <div class="checkbox">
                                            <label class=" check-label">
                                                <input type="checkbox" />
                                                同帳寄地址
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex formcol">
                            <div class="th-title">
                                <p>清除許<br />可資訊</p>
                            </div>
                            <div class="inputGroup">
                                
                                <div class="form-group row">
                                    <label for="CleanLicenseID" class="col-sm-4 control-label">清除許可證號</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="CleanLicenseID"
                                            placeholder="請輸入清除許可證號" />
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="CleanInstitutionLevel" class="col-sm-4 control-label">清除機構級別</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" id="CleanInstitutionLevel" ng-change="showPicker()"
                                            ng-model="value">
                                            <option value="">選擇級別</option>
                                            <option value="0" required>甲級</option>
                                            <option value="1" required>乙級</option>
                                            <option value="2" required>丙級</option>
                                        </select>
                                    </div>
                                </div>

                                
                                <div class="form-group row">
                                    <label for="CleanLicenseNewDate" class="col-sm-4 control-label">清除許可證更新日期</label>
                                    <div class="col-sm-8">
                                        <!-- <p-calendar [(ngModel)]="date3" [showIcon]="true" id="CleanLicenseNewDate"></p-calendar> -->
                                        <p-calendar [(ngModel)]="date1" name="CleanLicenseNewDate" [showIcon]="true"
                                            [locale]="tw" appendTo="body" showButtonBar="true" id="CleanLicenseNewDate"
                                            dateFormat="yy-mm-dd" placeholder="請選擇日期">
                                        </p-calendar>
                                        <!-- <input type="text" class="form-control" id="CleanLicenseNewDate" placeholder="請輸入清除許可證更新日期" /> -->
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="CleanLicensePeriod" class="col-sm-4 control-label">清除許可證期限</label>
                                    <div class="col-sm-8">
                                        <!-- <input oninput="value=value.replace(/[^\d]/g,'')" class="form-control" id="number" -->
                                        <select class="form-control" id="CleanLicensePeriod">
                                            <option value="">選擇期限</option>
                                            <option>半年</option>
                                            <option>一年</option>
                                            <option>三年</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="CleanTechnicianPeriod1" class="col-sm-4 control-label">
                                        清除許可項目
                                    </label>
                                    <div class="col-sm-8">
                                        <div class="d-flex">
                                            <select class="form-control select-width" id="WasteCode1">
                                                <option value="">請選擇代碼</option>
                                                <option>D-0299</option>
                                                <option>D-0298</option>
                                                <option>D-0297</option>
                                            </select>
                                            <input type="text" class="form-control input-margin" id="OrderItems1"
                                                value="" placeholder="廢棄物項目" readonly />
                                            <button pButton pRipple icon="pi pi-plus"
                                                class="p-button-rounded p-button-layout" (click)="editProduct(product)">
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <!-- 動態增加項目 -->
                                <div class="form-group row">
                                    <label for="CleanTechnicianPeriod2" class="col-sm-4 control-label">
                                    </label>
                                    <div class="col-sm-8">
                                        <div class="d-flex">
                                            <select class="form-control select-width" id="WasteCode2">
                                                <option value="">請選擇代碼</option>
                                                <option>D-0299</option>
                                                <option>D-0298</option>
                                                <option>D-0297</option>
                                            </select>
                                            <input type="text" class="form-control input-margin" id="OrderItems2"
                                                value="" placeholder="廢棄物項目" readonly />
                                            <button pButton pRipple icon="pi pi-trash"
                                                class="p-button-rounded p-button-warning"
                                                (click)="deleteProduct(product)">
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <!-- <div class="form-group row">
                                    <label for="CleanTechnicianLevel" class="col-sm-4 control-label">清除技術人員證級別</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" id="CleanTechnicianLevel">
                                            <option value="">選擇級別</option>
                                            <option>甲級</option>
                                            <option>乙級</option>
                                            <option>丙級</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="CleanTechnicianPeriod" class="col-sm-4 control-label">清除技術人員證期限</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" id="CleanTechnicianPeriod">
                                            <option value="">選擇期限</option>
                                            <option>半年</option>
                                            <option>一年</option>
                                            <option>三年</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="CleanTechnicianNewDate"
                                        class="col-sm-4 control-label">清除技術人員證更新日期</label>
                                    <div class="col-sm-8">
                                        <p-calendar [(ngModel)]="date2" name="CleanTechnicianNewDate" [showIcon]="true"
                                            [locale]="tw" appendTo="body" showButtonBar="true"
                                            id="CleanTechnicianNewDate" dateFormat="yy-mm-dd" placeholder="請選擇日期">
                                        </p-calendar>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="CleanTechnicianID" class="col-sm-4 control-label">清除技術人員證號</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="CleanTechnicianID"
                                            placeholder="請輸入清除技術人員證號" />
                                    </div>
                                </div> -->
                                <div class="form-group row">
                                    <label for="License1" class="col-sm-4 control-label">清除技術人員證照</label>
                                    <div class="col-sm-8 License">
                                        <div class="d-flex">
                                            <input type="text" class="form-control" id="License1" value="甲級" readonly />
                                            <input type="text" class="form-control" id="License1" placeholder="請輸入證號" />
                                        </div>
                                        <div class="d-flex a-items-center">
                                            <input type="text" class="form-control" id="License1" placeholder="請輸入姓名" />
                                        </div>
                                        <div class="d-flex a-items-center">
                                            <p-calendar [(ngModel)]="date2" name="CleanTechnicianNewDate"
                                                [showIcon]="true" [locale]="tw" appendTo="body" showButtonBar="true"
                                                dateFormat="yy-mm-dd" placeholder="許可證更新日期">
                                            </p-calendar>
                                            <select class="form-control" id="CleanTechnicianPeriod">
                                                <option value="">請選擇期限</option>
                                                <option>半年</option>
                                                <option>一年</option>
                                                <option>三年</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="License1" class="col-sm-4 control-label">清除技術人員證照</label>
                                    <div class="col-sm-8 License">
                                        <div class="d-flex">
                                            <input type="text" class="form-control" id="License1" value="乙級" readonly />
                                            <input type="text" class="form-control" id="License1" placeholder="請輸入證號" />
                                        </div>
                                        <div class="d-flex a-items-center">
                                            <input type="text" class="form-control" id="License1" placeholder="請輸入姓名" />
                                        </div>
                                        <div class="d-flex a-items-center">
                                            <p-calendar [(ngModel)]="date2" name="CleanTechnicianNewDate"
                                                [showIcon]="true" [locale]="tw" appendTo="body" showButtonBar="true"
                                                dateFormat="yy-mm-dd" placeholder="許可證更新日期">
                                            </p-calendar>
                                            <select class="form-control" id="CleanTechnicianPeriod">
                                                <option value="">請選擇期限</option>
                                                <option>半年</option>
                                                <option>一年</option>
                                                <option>三年</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <!-- <fieldset>
                                        <p class="title">確認資料是否正確</p>
                                        <mat-radio-group class="radioGroup">
                                          <mat-radio-button value="1" (click)="dataAccurate()" required>資料正確</mat-radio-button>
                                          <mat-radio-button value="0" (click)="dataError()" required>資料有誤</mat-radio-button>
                                        </mat-radio-group>
                                      </fieldset>
                                      <fieldset class="overrule">
                                        <table>
                                          <thead>
                                            <tr>
                                              <th colspan="2">審核不通過事由填寫</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <tr>
                                              <th>審核人員:</th>
                                              <td>王大明(0001)</td>
                                            </tr>
                                            <tr>
                                              <th>審核時間:</th>
                                              <td>
                                                2020/06/08 13:21:34
                                              </td>
                                            </tr>
                                            <tr>
                                              <th>事由:</th>
                                              <td>
                                                <textarea name="" id="" cols="30" rows="10"></textarea>
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </fieldset> -->
                            </div>
                        </div>


                        <div class="d-flex formcol">
                            <div class="th-title">
                                <p>忘記<br />密碼</p>
                            </div>
                            <div class="inputGroup">
                                <div class="form-group row">
                                    <!-- <span>*</span> -->
                                    <label for="email" class="col-sm-4 control-label">備援電子郵件</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="email" placeholder="" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="quiz" class="col-sm-4 control-label">安全提問</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="quiz" placeholder="安全提問為您忘記密碼時使用" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="answer" class="col-sm-4 control-label">提問答案</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" id="answer" placeholder="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- </table> -->
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>