@import "src/app/features/company/order-progress/new-order/new-order.component.scss";

.not-con {
  white-space: nowrap; //禁止td換行
  overflow: hidden; //隱藏X,Y滾動條
  text-overflow: ellipsis; //將顯示不完的以...顯示
}
