<div class="my-form">
    <div id="content" class="result-container">
        <p-breadcrumb id="breadcrumb" [model]="items" [home]="home"></p-breadcrumb>
    </div>
    <div id="content" class="result-container result-color">
        <form class="form-horizontal">
            <div class="card">
                <div class="title">
                    <span>合約資料</span>
                    <!-- <div class="btn-right">
                        <button type="button" class="btn btn-primary btn-lg" (click)="goBack()"><i
                                class="fa fa-lg fa-fw fa-arrow-right"></i>返回</button>
                    </div> -->
                </div>
                <div class="form-container">
                    <table class="table">
                        <thead>
                            <tr>
                                <th colspan="2">合約基本資料</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th class="col-2">合約編號</th>
                                <td class="col-10">{{ Code }}</td>
                            </tr>
                            <tr>
                                <th>報價單編號</th>
                                <td>
                                    <a  (click)="getQuotId()"
                                        style="color: #136a50">{{ QuoteCode }}</a>
                                </td>
                            </tr>
                            <tr>
                                <th>申請合約日期</th>
                                <td>{{ ApplyDateTime }}</td>
                            </tr>
                            <tr>
                                <th>統一編號</th>
                                <td>{{ TaxIDNumber }}</td>
                            </tr>
                            <tr>
                                <th>合約事業單位</th>
                                <td>{{ CorporateName }}</td>
                            </tr>
                            <tr>
                                <th>事業別</th>
                                <td>{{ CareerType }}&#xA0;>&#xA0;{{ CareerSubType }}</td>
                            </tr>
                            <tr>
                                <th>聯絡人</th>
                                <td>{{ ContactPerson }}</td>
                            </tr>
                            <tr>
                                <th>聯絡人電話</th>
                                <td>{{ ContactPhoneNumber }}</td>
                            </tr>
                            <tr>
                                <th>聯絡人手機</th>
                                <td>{{ ContactMobilePhone }}</td>
                            </tr>
                            <tr>
                                <th>管制編號</th>
                                <td>{{ ControlNumber }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table">
                        <thead>
                            <tr>
                                <th colspan="2">其他申請資料</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>合約生效日期</th>
                                <td>{{ StartDateTime }}</td>
                            </tr>
                            <tr>
                                <th>合約結束日期</th>
                                <td>{{ EndDateTime }}</td>
                            </tr>
                            <tr>
                                <th>收集頻率</th>
                                <td>{{ CollectFrequency }}&#xA0; ; &#xA0;{{ CollectWeekDay }}</td>
                            </tr>
                            <tr [ngSwitch]="AcceptableAmount">
                                <th>允收量</th>
                                <td *ngSwitchCase="null"></td>
                                <td *ngSwitchDefault>{{ AcceptableAmount }} /公斤</td>
                            </tr>
                            <tr>
                                <th>申請廢棄物類型</th>
                                <td>{{ ApplyWasteType }}類  {{ ApplyWasteTypeName }}</td>
                            </tr>
                            <tr>
                                <th>清運地址</th>
                                <td>{{ ClearAddress }}</td>
                            </tr>
                            <tr>
                                <th>廢棄物貯存地點</th>
                                <td>{{ WasteStoragePlace }}</td>
                            </tr>
                            <tr>
                                <th>合約狀態</th>
                                <td>
                                    <button [class]="'status-'+ContractStatus">
                                        {{ ContractStatusName }}
                                    </button>
                                </td>
                            </tr>
                            <!-- <tr>
                                <th>合約狀態</th>
                                <td>
                                    <button class="status-3">
                                        正常
                                    </button>
                                </td>
                            </tr> -->
                            <tr>
                                <th>付款方式</th>
                                <td>{{ PayMethod }}</td>
                            </tr>
                            <tr>
                                <th>付款項目</th>
                                <td>{{ PayItem }}</td>
                            </tr>
                            <tr>
                                <th>是否同意免簽</th>
                                <td [ngSwitch]="IsAgreeSignFree">
                                    <p *ngSwitchCase="true">
                                        是
                                    </p>
                                    <p *ngSwitchCase="false">
                                        否
                                    </p>
                                    <p *ngSwitchDefault>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <th>退水費、妥善處理記錄、派送三聯單</th>
                                <td [ngSwitch]="IsNeedRecord">
                                    <p *ngSwitchCase="true">
                                        是
                                    </p>
                                    <p *ngSwitchCase="false">
                                        否
                                    </p>
                                    <p *ngSwitchDefault>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table">
                      <colgroup>
                          <col style="width: 15%">
                          <col style="width: 55%">
                          <col style="width: 15%">
                          <col style="width: 15%">
                      </colgroup>
                      <thead>
                          <tr>
                              <th colspan="4">其他需求項目</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr class="tbodyTh">
                              <th>需求項目</th>
                              <th>需求內容</th>
                              <th>數量(個)</th>
                              <th>單價(元)</th>
                          </tr>
                          <ng-template pTemplate="body" ngFor let-ProvideEquip [ngForOf]="ProvideEquip" let-i="index">
                            <tr>
                                <td>{{ i+1 }}.</td>
                                <td>{{ ProvideEquip.QuoteProvideEquipName }}</td>
                                <td>{{ ProvideEquip.Qty }}</td>
                                <td>{{ ProvideEquip.Price }}</td>
                            </tr>
                          </ng-template>
                      </tbody>
                  </table>
                  <table class="table">
                      <thead>
                          <tr>
                              <th colspan="7">廢棄物列表</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr class="tbodyTh">
                              <th>項次</th>
                              <th>廢棄物代碼</th>
                              <th>廢棄物名稱</th>
                              <th>廢棄物性質</th>
                              <th>預估申請量(月)</th>
                              <th>單位</th>
                              <th>單價(元)</th>
                          </tr>
                          <ng-template pTemplate="body"  ngFor let-WasteData [ngForOf]="WasteDatainfo" let-i="index">
                            <!-- <ng-container *ngFor="let WasteData of QuoteinfoData.WasteData"> -->
                            <tr>
                                <td>{{ i+1 }}.</td>
                                <td>{{ WasteData.WasteCode }}</td>
                                <td>{{ WasteData.WasteName }}</td>
                                <td>{{ WasteData.WasteStatusName }}</td>
                                <td>{{ WasteData.MonthlyQty }}</td>
                                <td>{{ WasteData.WasteUnitName }}</td>
                                <td>{{ WasteData.Price }}</td>
                            </tr>
                          </ng-template>
                      </tbody>
                  </table>
                  <div class="form-group row">
                    <div class="justify-content-center btn-center">

                      <button type="button" class="btn btn-primary btn-lg" (click)="goBack()">
                        <i class="fa fa-lg fa-fw fa-arrow-right"></i>返回</button>
                    </div>
                  </div>
                </div>
            </div>
        </form>
    </div>
</div>

<p-toast position="bottom-right"></p-toast>

<div id="progressSpinner" class="background-black" *ngIf="progressSpinner">
  <div class="progress-spinner">
    <p-progressSpinner class="customProgress"></p-progressSpinner>
  </div>
</div>
