@import "src/app/app.component.scss";

.error {
    color: #5a5c69;
    font-size: 7rem;
    position: relative;
    line-height: 1;
    width: 12.5rem;
}

.error:after {
    content: attr(data-text);
    position: absolute;
    left: 2px;
    text-shadow: -1px 0 #e74a3b;
    top: 0;
    color: #5a5c69;
    background: #f8f9fc;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim 2s infinite linear alternate-reverse;
}

.error:before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: 1px 0 #4e73df;
    top: 0;
    color: #5a5c69;
    background: #f8f9fc;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim-2 3s infinite linear alternate-reverse;
}

.mr-auto,
.mx-auto {
    margin-right: auto !important;
}

.ml-auto,
.mx-auto {
    margin-left: auto !important;
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
}

.text-gray-800 {
    color: #5a5c69 !important;
}

.text-gray-500 {
    color: #b7b9cc !important;
}
@media screen and  (max-width: 450px) {
    .card404-size {
        top: 10rem;
        width: 95%;
        padding-top: 5%;
        padding-left: 15%;
        padding-right: 15%;
        padding-bottom: 15%;
    }
}
@media screen and  (min-width: 451px) {
    .card404-size {
        top: 11rem;
        width: 75%;
        padding-top: 5%;
        padding-left: 15%;
        padding-right: 15%;
        padding-bottom: 15%;
    }
}
