<!-- <div id="main" role="main" class="animated fadeInDown"> -->
<div role="main" class="animated fadeIn" id="main-height">
  <div class="container-login" id="container-height">
    <!-- <div id="content" class="container row"> -->
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" id="card-fff">
      <div class="wrapper">
        <div id="login">
          <img class="login__logo" src="assets/img/TSP/TSP-Logo.png" alt="TSP-LOGO" />
          <h2 class="login__title">
            交易統計平台<br /><span class="login__subtitle">{{"登入頁面"}}</span>
          </h2>
          <form [formGroup]="loginForm">
            <!-- <form> -->
            <!-- <div> -->
            <mat-form-field class="field-wrap">
              <mat-label class="label"><i class="icon-append fa fa-user"></i>{{ "帳號" }}</mat-label>
              <input type="text" class="input" matInput oninput="value=value.replace(/[^\d]/g,'')" maxlength="8"
                placeholder="請輸入會員帳號" formControlName="UserId" id="UserId" />
            </mat-form-field>
            <mat-form-field class="field-wrap">
              <mat-label class="label"><i class="icon-append fa fa-lock"></i>{{ "密碼" }}</mat-label>
              <span class="p-input-icon-right d-flex">
                <input type="password" class="input" matInput placeholder="請輸入會員密碼" formControlName="Password"
                  id="Password" />
                <i *ngIf="isShowPw==false" class="pi  pi-eye" (click)="showPw('N')"></i>
                <i *ngIf="isShowPw==true" class="pi  pi-eye-slash" (click)="showPw('Y')"></i>
              </span>
            </mat-form-field>

            <div class="form-group row center" style="margin-top:10px ;margin-bottom: 20px;">
              <div class="col-lg-6 col-md-6 mb-12 d-flex">
                <input type="text" width="100%" class="form-control" id="Captcha" formControlName="Captcha"
                  autocomplete="off" placeholder="請輸入驗證碼" />
              </div>
              <div class="col-lg-6 col-md-6 mb-12 d-flex" style="margin-left:-25px !important">
                <img src="{{CapchaUrl}}" width="100%" height="auto" class="">

                <button type="button" class="btn btn-light" (click)="reloadimg()">
                  <i class="fa fa-refresh center" style="font-size:1.2em ;color:#136a50"></i>
                </button>
              </div>
            </div>

            <div class="btnGroup">
              <button type="button" class="login__button button-block loginBtn" (click)="onSubmit(loginForm)">
                登入

              </button>
              <button type="button" class="login__button button-block loginBtn" data-toggle="modal"
                data-target="#myModal">
                註冊

              </button>
            </div>
            <div class="getpassword">
              <a style="color: #136a50" (click)="showForgetPassword()">忘記密碼?</a>

            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<p-toast position="bottom-right"></p-toast>

<div id="progressSpinner" class="background-black" *ngIf="progressSpinner">
  <div class="progress-spinner">
    <p-progressSpinner class="customProgress"></p-progressSpinner>
  </div>
</div>
