<div class="my-form">
    <div id="content" class="result-container">
        <p-breadcrumb id="breadcrumb" [model]="items" [home]="home"></p-breadcrumb>
    </div>
    <div id="content" class="result-container result-color">
        <form class="form-horizontal">
            <div class="card">
                <div class="title">
                    <span>合約資料</span>
                    <div class="btn-right">
                        <button type="button" class="btn btn-primary btn-lg" (click)="goBack()"><i
                                class="fa fa-lg fa-fw fa-arrow-right"></i>返回</button>
                    </div>
                </div>
                <div class="form-container">
                    <table class="table">
                        <thead>
                            <tr>
                                <th colspan="2">合約基本資料</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th class="col-2">合約編號</th>
                                <td class="col-10">CO9000110</td>
                            </tr>
                            <tr>
                                <th>處理單位</th>
                                <td>大燈環保科技股份有限公司</td>
                            </tr>
                            <tr>
                                <th>申請合約日期</th>
                                <td>2020-10-15</td>
                            </tr>
                            <tr>
                                <th>聯絡人</th>
                                <td>李小承</td>
                            </tr>
                            <tr>
                                <th>聯絡電話</th>
                                <td>02-22548116 #775</td>
                            </tr>
                            <tr>
                                <th>管制編號</th>
                                <td>D8230291</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table">
                        <thead>
                            <tr>
                                <th colspan="2">處理許可合約資料</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>合約生效日期</th>
                                <td>2020-03-01 16:30</td>
                            </tr>
                            <tr>
                                <th>合約結束日期</th>
                                <td>2021-03-01 16:30</td>
                            </tr>
                            <tr>
                                <th>處理機構級別</th>
                                <td>甲級</td>
                            </tr>
                            <tr>
                                <th>處理方法</th>
                                <td>掩埋</td>
                            </tr>
                            <tr>
                                <th>處理許可證期限</th>
                                <td>三年</td>
                            </tr>
                            <tr>
                                <th>處理許可證更新日期</th>
                                <td>2019-10-18</td>
                            </tr>
                            <tr>
                                <th>處理許可證號</th>
                                <td>C985775540</td>
                            </tr>
                            <tr>
                                <th>處理技術人員證級別</th>
                                <td>甲級</td>
                            </tr>
                            <tr>
                                <th>處理技術人員證期限</th>
                                <td>五年</td>
                            </tr>
                            <tr>
                                <th>處理技術人員證更新日期</th>
                                <td>2020-10-18</td>
                            </tr>
                            <tr>
                                <th>處理技術人員證號</th>
                                <td>B88577462</td>
                            </tr>
                            <tr>
                                <th>合約狀態</th>
                                <td>
                                    <button class="status-3">
                                        正常
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <th>付款方式</th>
                                <td>現金</td>
                            </tr>
                            <tr>
                                <th>付款項目</th>
                                <td>付現</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table">
                        <thead>
                            <tr>
                                <th colspan="5">許可處理項目</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="tbodyTh">
                                <th>項次</th>
                                <th>許可項目</th>
                                <th>許可內容</th>
                                <th>許可量/(月)</th>
                                <th>單位</th>
                            </tr>

                            <tr>
                                <td>1</td>
                                <td>D-0299</td>
                                <td>廢塑膠混合物</td>
                                <td>5</td>
                                <td>噸</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>D-0701</td>
                                <td>廢木材棧板</td>
                                <td>2</td>
                                <td>噸</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>D-0799</td>
                                <td>廢木材混合物</td>
                                <td>3.5</td>
                                <td>噸</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>D-1399</td>
                                <td>其他單一非有害金屬或金屬廢料混合物</td>
                                <td>4</td>
                                <td>噸</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>
</div>