<footer class="py-5 footer-bg">
    <div class="row footer-left footer">
        <div class="col-xs-6 col-lg-4 col-md-6 mt-4">
            <p class="footer-style-h4">關於我們
            <p>
            <ul class="footer-style-h5">
                <li><a href="#">平台操作介紹</a></li>
                <li><a href="#">公司簡介</a></li>
                <li><a href="#">公司理念</a></li>
            </ul>
        </div>
        <div class="col-xs-6 col-lg-4 col-md-6 mt-4">
            <p class="footer-style-h4">會員註冊
            <p>
            <ul class="footer-style-h5">
                <li><a routerLink="/register">企業客戶註冊</a></li>
                <li><a routerLink="/clean-register">清除業者註冊</a></li>
                <li><a routerLink="/processing-register">處理業者註冊</a></li>
            </ul>
        </div>
        <!-- <div class="col-xs-6 col-lg-3 col-md-6 mt-4">
            <p class="footer-style-h4">線上客服
            <p>
            <ul class="footer-style-h5">
                <li><a href="#">線上估價</a></li>
                <li><a href="#">常見問答</a></li>
                <li><a href="#">免費諮詢</a></li>
                <li><a href="#">專業評估</a></li>
            </ul>
        </div> -->
        <div class="col-xs-6 col-lg-4 col-md-6 mt-4">
            <p class="footer-style-h4">
              <!-- <a href="#" data-toggle="modal" data-target="#myModal11"> -->
              <a href="#" (click)="showCreateContact()" >聯絡我們</a>
            <p>
            <ul class="footer-style-h5">
                <li>電話：02-2211-3344</li>
                <li>信箱：aaa111@sssstttmail.com.tw</li>
            </ul>
        </div>
    </div>
</footer>
<!-- <footer class="footer-color">
    <div class="footer py-4 row footer-left">
        <div class="col-xs-6 col-lg-3 col-md-6 mt-4">
                <h5 class="footer-style-h5">關於我們</h5>
                <h5>
                    <ul class="footer-style-h5">
                        <li><a href="#">平台操作介紹</a></li>
                        <li><a href="#">公司簡介</a></li>
                        <li><a href="#">公司理念</a></li>
                    </ul>
                </h5>
        </div>
        <div class="col-xs-6 col-lg-3 col-md-6 mt-4">
                <h5 class="footer-style-h5">會員登入</h5>
                <h5>
                    <ul class="footer-style-h5">
                        <li><a href="#">企業客戶登入</a></li>
                        <li><a href="#">清潔業者登入</a></li>
                        <li><a href="#">處理業者登入</a></li>
                    </ul>
                </h5>
        </div>
        <div class="col-xs-6 col-lg-3 col-md-6 mt-4">
                <h5 class="footer-style-h5">線上客服</h5>
                <h5>
                    <ul class="footer-style-h5">
                        <li><a href="#">線上估價</a></li>
                        <li><a href="#">常見問答</a></li>
                        <li><a href="#">免費諮詢</a></li>
                        <li><a href="#">專業評估</a></li>
                    </ul>
                </h5>
        </div>
        <div class="col-xs-6 col-lg-3 col-md-6 mt-4">
                <h5 class="footer-style-h5">聯絡我們</h5>
                <h5>
                    <ul class="footer-style-h5">
                        <li>電話：02-2211-3344</li>
                        <li>信箱：aaa111@sssstttmail.com.tw</li>
                    </ul>
                </h5>
        </div>
      </div>
</footer> -->
