@import "src/app/features/company/member-profile/modify-member-profile/modify-member-profile.component.scss";

.p-button-success {
    margin-top: unset !important;
    background-color: #5179d1 !important;
    border: #5179d1 !important;
}

.p-button-warning {
    margin-top: unset !important;
    background-color: #ff4454 !important;
    border: #ff4454 !important;
}

.p-button-layout {
    margin-top: unset !important;
    background-color: #3bac4e !important;
    border: #3bac4e !important;
}

.p-button-org {
    margin-top: unset !important;
    background-color: #fd7e14 !important;
    border: #fd7e14 !important;
}

.input-margin {
    margin: 0 10px;
}
.select-width {
    width: 45%;
}
