@import "src/app/features/company/order-progress/order-progress.component.scss";

.ptable-header {
  text-align: left;
  margin-left: -1em !important;
  padding-left: 0.75rem;
}

.card-img-style {
  // display: center;
  width: 35%;
  margin: 1rem auto;
}
.card-footer-style {
  padding: 1.75rem 1.25rem;
}

.card-footer-style:last-child {
  border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 2px solid rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  margin: 1rem auto;
  padding: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#myModal7,
#myModal10 {
  .modal-body {
    .row {
      margin: 0 auto;
      width: 100%;
      label {
        font-size: 1.3em;
        margin-left: 10px;
      }
    }
    label {
      font-size: 1.3em;
      margin: 1rem auto;
    }
  }
}

.p-button-success {
  margin-top: unset !important;
  background-color: #5179d1 !important;
  border: #5179d1 !important;
}

.p-button-warning {
  margin-top: unset !important;
  background-color: #ff4454 !important;
  border: #ff4454 !important;
}

.p-button-layout {
  margin-top: unset !important;
  background-color: #3bac4e !important;
  border: #3bac4e !important;
}

.p-button-org {
  margin-top: unset !important;
  background-color: #fd7e14 !important;
  border: #fd7e14 !important;
}

.mymodal-title {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  margin-left: 0.5rem;
  font-size: 1.5em;
  font-weight: 700;
  // height: 34px;
  color: #136a50;
}
